<ul class="list-countries list">
    {{#each this}}
    <li class="list-countries__item">
        <img src="{{flag}}"" alt=" {{name}}" width="50px">
        <p>{{name}}</p>
    </li>
    {{/each}}
</ul>